.flex.items-center.justify-between
  .flex.items-center.gap-x-6
    = image_tag @recipe.image_url, class: 'flex-none ring-1 ring-gray-900/10 w-16 h-16 rounded-full'
    %h1
      .mb-1.text-base.font-semibold= @recipe.name
      .text-xs.muted= @recipe.tags.join(', ')

= render 'new_modal'
