.activity
  %h2.mb-2.text-sm.font-semibold Activity
  %ul
    %li.relative.flex.gap-x-4
      .absolute.left-0.top-0.flex.w-6.justify-center.-bottom-6
        .w-px.bg-gray-200
      .relative.flex.h-6.w-6.flex-none.items-center.justify-center.bg-white
        .rounded-full.bg-gray-100.ring-1.ring-gray-300{class: "h-1.5 w-1.5"}
      %p.flex-auto.text-xs.leading-5.text-gray-500{class: "py-0.5"}
        %span.font-medium.text-gray-900 Chelsea Hagon
        saved this recipe.
      %time.flex-none.text-xs.leading-5.text-gray-500{class: "py-0.5", datetime: "2023-01-23T10:32"} 7d ago
    %li.relative.flex.gap-x-4
      .relative.flex.h-6.w-6.flex-none.items-center.justify-center.bg-white
        .rounded-full.bg-gray-100.ring-1.ring-gray-300{class: "h-1.5 w-1.5"}
      %p.flex-auto.text-xs.leading-5.text-gray-500{class: "py-0.5"}
        %span.font-medium.text-gray-900 Chelsea Hagon
        added notes to this recipe.
      %time.flex-none.text-xs.leading-5.text-gray-500{class: "py-0.5", datetime: "2023-01-23T11:03"} 6d ago
