.border.border-gray-200.rounded-lg.overflow-hidden.shadow-sm
  .bg-gray-50.py-4.px-6.border-b.border-gray-200
    %h2.text-sm.font-semibold Ingredients
  %ul.w-full.divide-y.divide-gray-200
    - @recipe.ingredients.each do |ingredient|
      %li.px-6.py-4.text-sm
        = wrap_numerics(ingredient)
