.border.border-gray-200.rounded-lg.overflow-hidden.shadow-sm
  .bg-gray-50.py-3.px-4.border-b.border-gray-200
    %h2.text-xs.font-semibold= icon_for :note_sticky, text: 'Notes'
  %ul.w-full.divide-y.divide-gray-200.border-b
    - @recipe.notes.each do |note|
      %li.px-4.py-3.text-xs= note.body
  = form_for [@recipe, @recipe.notes.new] do |form|
    .text-xs
      = form.text_area :body,
        placeholder: "Add notes...",
        class: 'focus:ring-0 focus:border-0 focus:border-none m-0 px-2 block text-xs w-full border-0 border-none h-16 border-white ring-0 shadow-none'
      %button.sidebar-button
        %span Save notes &rarr;
