.border.border-gray-200.rounded-lg.overflow-hidden.shadow-sm
  .bg-gray-50.py-3.px-4.border-b.border-gray-200
    %h2.text-xs.font-semibold= icon_for :clock, text: 'Timing'

  %ul.w-full.divide-y.divide-gray-200
    %li.px-4.py-3.text-xs
      %span Total time:
      %span.font-semibold= @recipe.total_time&.remove('about ').presence || '30 minutes'
    %li.px-4.py-3.text-xs
      %span Prep time:
      %span.font-semibold 20 mminutes
    %li.px-4.py-3.text-xs
      %span Cook time:
      %span.font-semibold 10 minutes
