:root {
  --smol-font-size: 0.5rem;
  --xsmall-font-size: 0.75rem;
  --small-font-size: 0.875rem;
  --medium-font-size: 1rem;
  --large-font-size: 1.25rem;
  --xlarge-font-size: 1.5rem;
  --thicc-font-size: 2rem;

  --blackish: rgb(17, 24, 39);
  --hue: 190;
  --accent-color: hsl(var(--hue), 80%, 42%);
  --accent-color-hover: hsl(from var(--accent-color) h s calc(l * 1.1));
  --notice-color: darkgreen;
  --alert-color: darkred;
}

body {
  margin: 2rem;
  letter-spacing: 0.8px;
}

body.sessions {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  body.sessions {
    margin-top: -4rem;
    align-items: center;
  }
}

html, body, * {
  color: var(--blackish);
  font-family: ui-monospace, monospace, sans-serif;
  letter-spacing: 0.8px;
}

p { letter-spacing: 0.4px; }
a { color: blue; }
a:hover { box-shadow: 0 4px 8px -2px lightgray; }

footer {
  opacity: 0.6;
  font-size: var(--xsmall-font-size);
}

h1 {
  font-size: var(--xlarge-font-size);
  font-weight: 600;
}

h2 {
  font-size: var(--large-font-size);
  font-weight: 600;
}

.flash {
  padding: 0.8rem;
  background-color: seashell;
  border-width: 1px;
  border-style: dotted;
  font-size: var(--xsmall-font-size);
}

.flash-notice {
  color: var(--notice-color);
  border-color: var(--notice-color);
}

.flash-alert {
  color: var(--alert-color);
  border-color: var(--alert-color);
}

.container {
  width: 40rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: .8rem;
}

body.sessions .container {
  width: 20rem;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: .8rem;
  text-align: left;
}

label {
  display: grid;
  font-size: var(--xsmall-font-size);
  line-height: 1.5rem;
}

input, textarea {
  padding: .5rem;
  padding-bottom: .3rem;
  border-radius: .375rem .375rem 0 0;
  border-width: 1px;
  border-color: var(--accent-color);
  border-style: dotted dotted solid;
  border-bottom-width: 3px;
  outline: none;
}

input::placeholder {
  opacity: 0;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  border-color: var(--accent-color-hover);
}

input:focus, textarea:focus {
  border-style: solid;
  border-color: var(--accent-color-hover);
}

input:focus, input:hover {
  box-shadow: 0 8px 8px -4px lightgray;
}

input[type=submit], button {
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: .375rem;
  background-color: var(--accent-color);
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: var(--small-font-size);
}

input[type=submit]:hover, button:hover {
  background-color: var(--accent-color-hover);
  box-shadow: 0 8px 8px -4px lightgray;
}
