html, body, * {
  background-color: white;
  color: black;
  font-family: ui-monospace, monospace, sans-serif;
}

body {
  margin: 4rem;
  font-size: 15px;
  display: grid;
  gap: 2rem;
}

body, button {
  line-height: 1.5rem;
}

.button_to { display: inline; }
.button_to button { border: none; }

:any-link, .button_to button {
  text-decoration: none;
  border-bottom: 1px dotted var(--accent-color);
  color: currentColor;
}
:any-link:hover,
.button_to button:hover {
  border-color: black;
  cursor: pointer;
}

:any-link:hover img {
  box-shadow: 0 4px 4px -2px var(--accent-color);
}

h1 :any-link{ border: none; }
h1 :any-link:hover { text-shadow: 2px 2px var(--accent-color); }

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 2ch;
  margin-left: 2ch;
}

li + li { margin-top: .5rem; }

h1, h2, h3, h4, h5, h6 { 
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

h1 { font-size: var(--lg); }
h2 { text-transform: uppercase; margin-bottom: 1rem; }
h3 {
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 1rem;
}

img { max-width: 80ch; }

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.page-header a {
  font-size: var(--sm);
}

.sections {
  display: flex;
  gap: 1rem;
}

.sections-sidebar {
  width: 30%;
}

.sections-main {
  width: 70%;
}

section {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px dashed var(--border-color);
  box-shadow: 0 8px 8px -4px lightgray;
}

section img {
  display:block;
  max-width:100%;
  height:auto;
}

input[type=submit], form:not(.button_to) button, .button {
  border: 1px solid var(--border-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input[type=submit]:hover, form:not(.button_to) button:hover, .button:hover {
  box-shadow: 0.2rem 0.2rem var(--accent-color);
}

.senpai { visibility: hidden; }
.kohai:hover > .senpai { visibility: visible; }
