.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed var(--border-color);
}

.header nav > :any-link {
  margin: 0 0.5rem;
  font-size: var(--sm);
}
