
%footer
  %p
    2025 &copy; #{link_to "Recipin", root_path}.
    Recipin is small software.
  - if logged_out?
    %p #{link_to "Request an account", new_account_request_path} or #{external_link_to "host your own", :project_homepage}.
