.header
  %h1= link_to "Recipin", root_path

  %nav
    - if admin?
      = link_to "Failed imports", [:admin, :failed_imports]
      = link_to "Account requests", [:admin, :account_requests]
    = button_to "Log out", session_path, method: :delete if authenticated?
