.header
  %h1= link_to "Recipin", root_path

  %nav
    = link_to "My Recipes", [:recipes] if authenticated?
    = link_to "Admin", admin_home_path if admin?
    = button_to "Log out", session_path, method: :delete if authenticated?
