.header
  %h1= link_to "Recipin", root_path

  %nav
    - if authenticated?
      - if current_user.admin?
        = link_to "Admin", admin_failed_imports_path
      = button_to "Log out", session_path, method: :delete
